<div class="container-fluid mb-2" style="background-image: linear-gradient(to right, rgba(12, 12, 12, 0.45), rgba(0,0,0,0)); font-size: 1.15em;">
    <div class="row pt-2 pb-2 border border-secondary">
        <div class="col-12 d-flex align-items-center">
            <img src="/images/forum-home-bit.png" style="height: 0.96em; width: auto;">
            <span style="margin-top: -0.1em; margin-left: 0.3em;">
                Forum -> Hulu -> Best Shows -> <span style="color: #909090;">Dexter is awesome...</span>
            </span>
        </div>
    </div>
</div>