{{#each topicsJSON.topics as |topic|}}
    <div class="container-fluid">
        <div class="row border-bottom border-secondary">
            <h2 class="text-center">{{toTitleCase @key}}</h2>
        </div>
        {{#each topic as |subject|}}
            <a href = "{{turnPathURLFriendly @../key}}/{{turnPathURLFriendly subject}}">
                <div class="option row border-bottom border-secondary">
                    <div class="col-1">
                        <img src = "/images/subject_icon.png" class="img-fluid" style="height:75px">
                    </div>
                    <div class="col-10 text-start">
                        <div class="subject-title">
                            {{toTitleCase subject}}
                        </div>
                        <span style="color:#909090;">This is the default description</span>
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
{{/each}}

<footer>
    <link rel="stylesheet" href="/CSS/style-forum.css">
</footer>
