<div class="container-fluid mb-2" style="background-image: linear-gradient(to right, rgba(12, 12, 12, 0.45), rgba(0,0,0,0)); font-size: 1.15em;">
    <div class="row pt-2 pb-2 border border-secondary">
        <div class="col-12 d-flex align-items-center">
            <style>
                a {
                    text-decoration: none;
                    color: #EEEEEE;
                }
                a:hover {
                    text-decoration: none;
                    color: #AAAAAA;
                }
            </style>
            <a href="/forum">
                <img src="/images/forum-home-bit.png" style="height: 0.96em; width: auto; margin-right: 0.3em; margin-top: -0.1em;">Forum
            </a>
            &nbsp->&nbsp<span style="color: #909090;"><span id="topic">{{threads.topic}}</span>&nbsp->&nbsp{{threads.subject}}</span>
        </div>
    </div>
</div>