<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--my code-->
    <script type="text/javascript" src="/JS/client-general.js"></script>
    <script type="text/javascript" src="/JS/login_form-client.js"></script>
</head>
<body style="background-color: black; background-image: url('/images/bg.png');">
<div class="container-fluid bg-dark text-light border border-secondary" style="height: auto; width: 95% !important;">
    {{> header}}
    <div class="mb-4">
        {{{body}}}
    </div>
</div>

{{> footer}}

</body>
</html>