<form class="d-grid gap-3">
    <div class="row">
        <div class="col-5">
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <div class="picture-container">
                <div class="picture">
                    <img src="default_avatar.png" class="picture-src" id="avatar_preview" title="">
                    <input type="file" id="avatar_uploader" onchange="uploadAvatar()">
                </div>
                Avatar
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5" id="errors" style="color: yellow;">

        </div>
    </div>
    <div class="row">
        <div class="col-5">
                <label for="exampleInputName1">Username</label>
                <input type="text" class="form-control bg-secondary text-light" id="exampleInputName1" placeholder="Username" required>

        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control bg-secondary text-light" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
        </div>
    </div>

    <div class = "row">
        <div class="col-5">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control bg-secondary text-light" id="exampleInputPassword1" placeholder="Password" required>
        </div>
    </div>

    <div class="row">
        <div class="col-5 form-group">
            <label for="signature">Signature:</label>
            <textarea class="form-control bg-secondary text-light" id="signature" rows="5" cols="61" maxlength="100" style="overflow-y: hidden; resize:none;"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-1">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
<footer>
    <link rel="stylesheet" href="/CSS/style-create_account.css">
    <script type="text/javascript" src="/JS/create_account-client.js"></script>
</footer>
