<form onsubmit="return false">
    <input type="text" id="userlogin" name="userlogin" placeholder="Username" size="15">
    <input type="text" id="password" name="password" placeholder="Password" size="15">
    <input type="submit" value="Login" onclick="login()">
    <input type="submit" value="Create Account" onclick="goToPage('/create-account')">
</form>

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>




<!--<form id="create-account-form">-->
<!--    <label>E-mail:</label><input type="text" id="userlogin" name="userlogin" placeholder="E-mail" size="15">-->
<!--    <br>-->
<!--    <label>Password:</label><input type="text" id="userlogin" name="userlogin" placeholder="Password" size="15">-->
<!--    <br>-->
<!--    <label>Avatar:</label>-->
<!--    <br>-->
<!--    <div>-->
<!--        <img src="default_avatar.png" width="50" height="50">-->
<!--        <br>-->
<!--        <input type="file" accept="image/png, image/jpeg">-->
<!--    </div>-->
<!--    <label>Bio:</label><input type="text" id="userlogin" name="userlogin" placeholder="Username" size="15">-->
<!--    <br>-->
<!--    <label>Signature:</label><input type="text" id="userlogin" name="userlogin" placeholder="Username" size="15">-->
<!--</form>-->