<form class="d-grid gap-3" onsubmit="return false">
    <div class="row">
        <div class="col-5">
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <div class="picture-container">
                <div class="picture">
                    <img src="/images/default_avatar.png" class="picture-src" id="avatar_preview" title="" enctype="multipart/form-data">
                    <input type="file" id="avatar_uploader" onchange="uploadAvatar()">
                </div>
                Avatar
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5" id="errors" style="color: yellow;">
        </div>
    </div>
    <div class="row">
        <div class="col-5">
                <label for="nickname">Username</label>
                <input type="text" class="form-control bg-secondary text-light" id="nickname" placeholder="Username" required>

        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <label for="email">Email address</label>
            <input type="email" class="form-control bg-secondary text-light" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
        </div>
    </div>

    <div class = "row">
        <div class="col-5">
            <label for="pass">Password</label>
            <input type="password" class="form-control bg-secondary text-light" id="pass" placeholder="Password" required>
        </div>
    </div>

    <div class="row">
        <div class="col-5 form-group">
            <label for="signature">Signature:</label>
            <textarea class="form-control bg-secondary text-light" id="signature" rows="5" cols="61" maxlength="100" style="overflow-y: hidden; resize:none;"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
        <button type="submit" class="btn btn-primary" onclick="create_user()">Submit</button>
            <span id="create_account_prompt"></span>
        </div>
    </div>
</form>
<footer>
    <link rel="stylesheet" href="/CSS/style-create_account.css">
    <script type="text/javascript" src="/JS/create_account-client.js"></script>
</footer>
