<div class="container-fluid bg-dark border border-secondary" style="height:85vh; width: 95% !important;">
    <div class="row justify-content-start" style="background-image: url('top_banner.png'); height: 20%;">
        <div class="col-6">
            <img src="logo.png" class="rounded float-start" style="width: 40%; height: auto;">
        </div>
        <div class="col-6" style="position: relative;">
            <form style="position: absolute; bottom: 10px; right: 0;" onsubmit="return false">
                <input type="text" id="userlogin" name="userlogin" placeholder="Username" size="15" style="width:10vw; font-size: 1vw;">
                <input type="text" id="password" name="password" placeholder="Password" size="15" style="width:10vw; font-size: 1vw;">
                <input type="submit" value="Login" onclick="login()" style="width:10vw; font-size: 1vw;">
                <input type="submit" value="Create Account" onclick="goToPage('/create-account')" style="width:10vw; font-size: 1vw;">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-11">
            <textarea readonly id="chatbox" name="chatbox" rows="5" cols="61" style="overflow-y: scroll; resize:none;">{{ chat }}</textarea><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-11">
            <form onsubmit="return false">
                <label for="username">Name:</label>
                <input type="text" id="username" name="username" size="15"><br><br>
                <input type="text" id="text-input" name="text-input" placeholder="Enter chat text" size="60"><br><br>
                <input type="submit" value="Post" onclick="postText()">
            </form>
        </div>
    </div>
    <div class="row" id="create_account_prompt">
        <div class="col-11">
            {{ prompt }}
        </div>
    </div>
    <div class="row">
        <div class="col-11">
            testing
        </div>
    </div>
</div>






<footer>
    <script type="text/javascript" src="/JS/client-general.js"></script>
    <script type="text/javascript" src="/JS/login-client.js"></script>
    <script type="text/javascript" src="/JS/chatbox-client.js"></script>
</footer>
