<p>
    News here
</p>

<footer>
    <script type="text/javascript" src="/JS/client-general.js"></script>
    <script type="text/javascript" src="/JS/login-client.js"></script>
    <script type="text/javascript" src="/JS/chatbox-client.js"></script>
</footer>
